.main {
    
    background-color: #AB4740 ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.main div nav{

        background-color: #fff;
        padding: 50px ;
        height: 500px ;
        width: 500px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
     
}


